.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
}

.pokemon-img {
  height: 300px;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.p {
  max-width: 600px;
}

.facts {
  margin-top: 2rem;
  display: grid;
  gap: 0.6rem;
}

.fact {
  font-family: var(--text-font);
  font-size: 1.1rem;
  color: var(--text-font-color);
}

