* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    height: 150px;
    background-color: green;
}

.main {
    flex: 1;
    background-color: blue;
}