* {
  font-family: var(--text-font);
}

.team-box {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.team-container {
  display: flex;
  width: clamp(675px, 55%, 900px);
  height: 100%;
}

.add-mate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14%;
  aspect-ratio: 4/5;
  margin: 1.33%;
}

.add-mate {
  width: 45px;
  height: 45px;
  stroke: rgb(50, 50, 50);
  stroke-width: 1.5px;
  stroke-linecap: round;
  transition: all .2s;
  cursor: pointer;
}

.add-mate:hover {
  transform: scale(1.1);
}

.team-mate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.626);
  width: 14%;
  aspect-ratio: 4/5;
  margin: 1.33%;
}

.active-mate {
  animation: activeTeam 1.5s infinite;
}

.mate-pic,
.pokemon-pic {
  width: 100%;
  height: auto;
}

.mate-name {
  font-size: 1.2rem;
  padding: 4px 1px;
}

.minus {
  stroke: rgba(96, 96, 96, 0.489);
  stroke-width: 2px;
  position: fixed;
  right: 6px;
  top: 4px;
  width: 22px;
  height: 22px;
  border-radius: 12%;
  cursor: pointer;
  transition: .1s all;
}

.add-pokemon:hover,
.minus:hover {
  transform: scale(1.15);
}

.add-pokemon:active,
.minus:active {
  transform: scale(.96);
}

.type-container {
  border-top: solid rgba(0, 0, 0, 0.263) 2px;
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 8px 4px;
}

.type-box,
.gen-box {
  position: relative;
  height: fit-content;
  width: 180px;
  font-size: var(--text-font-size);
  color: var(--font-color);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.626);
  border-radius: 12px;
  padding: 3px 7px;
  margin: 0px 12px;
  cursor: pointer;
}

.type-menu,
.gen-menu {
  z-index: 20;
  padding: 4px 3px;
  max-height: 300px;
  width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: rgba(224, 224, 224, 0.856);
  display: none;
  flex-direction: column;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.626);
  border-radius: 12px;
}

.type-item,
.gen-item {
  padding: 2px 3px;
}

.type-item:hover,
.gen-item:hover {
  background-color: rgba(0, 0, 255, 0.222);
  cursor: pointer;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.626);
  border-radius: 14px;
  width: clamp(80px, 6.5%, 200px);
  aspect-ratio: 4/5;
  margin: .8%;
}

.pokemon-name {
  font-size: 1.1rem;
  padding: 2px 1px;
}

.add-pokemon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  stroke: rgb(50, 50, 50);
  stroke-width: 1.5px;
  stroke-linecap: round;
  transition: all .2s;
  cursor: pointer;
}

@keyframes activeTeam {
  0% {
    transform: scale(1.05);
    box-shadow: 2px 2px 11px 2px rgb(35, 35, 35);
  } 50% {
    transform: scale(1.02);
    box-shadow: 0 0 6px 2px rgb(35, 35, 35);
  } 100% {
    transform: scale(1.05);
    box-shadow: 2px 2px 11px 2px rgb(35, 35, 35);
  }
}